body{
font-family:sans-serif;
background-color: black;
}
.container{
  width: 1000px;
  height: 500px;
  background-image:linear-gradient(rgba(0, 0, 0,0.5),rgba(255, 0, 0, 0.5)), url(image.jpg);
  margin: 20px auto;
}
.calculator{
  width: 270px;
  height: 480px;
  background-color:#ff726f;
  margin: auto;
  position: relative;
  top: 10px;
  border-radius: 20px;
  box-shadow: 5px 10px 9px 0;
}
.result{
  height: 130px;
  padding-top: 20px;
  padding-right: 5px;
}
.histry{

  text-align: right;
  font-size: 25px;
}
.output{
  text-align: right;
  margin: 10px 20px;
  font-size: 25px;
}
.keyboard{
  height: 500px;
  margin-left: 10px;
}
.operator,.number,.empty{
  height: 60px;
  width: 60px;
  border-radius: 10px;
  border-width: 0;
  font-weight: bold;
  font-size: 20px;
}
.number,.empty{
  background-color: #ff726f;
}
.operator{
  background-color: inherit;
  border-width: 2px;
}
.number,.operator{
  cursor: pointer;
}
.operator:active,.number:active{
  font-size: 30px;
}
button:nth-child(4){
  font-size: 30px;
  background-color: #056608;
}
button:nth-child(8){
  font-size: 30px;
  background-color: #ff8c00;
}

button:nth-child(12){
  font-size: 30px;
  background-color: red;
}
button:nth-child(16){
  font-size: 30px;
  background-color: #00bfff;
}
button:nth-child(20){
  font-size: 30px;
  background-color: #bfff00;
}
